@charset "UTF-8";
body {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  list-style: none; }

input {
  outline: none;
  border: none; }

button {
  outline: none;
  background-color: transparent;
  border: none; }

.btn {
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  color: #fff; }
  .btn::after {
    position: absolute;
    content: ""; }

/* font-family: "GothamProMedium"; */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBold"; */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

/* font-family: "Montserrat"; */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  /* Для IE5-8 */
  src: local(Montserrat), url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: normal; }

/* font-family: "MontserratBold"; */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  /* Для IE5-8 */
  src: local(Montserrat), url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: bold; }

/* font-family: "Fira Sans"; */
@font-face {
  font-family: "Fira Sans";
  src: url(../fonts/FiraSans-Bold.ttf);
  /* Для IE5-8 */
  src: local(Montserrat), url(../fonts/FiraSans-Bold.ttf);
  font-style: normal;
  font-weight: bold; }

body {
  font-family: "Gotham";
  font-weight: normal; }

.wrapper {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1182px; }

.scrolled {
  margin-top: -77px;
  background-color: rgba(63, 0, 100, 0.8);
  padding: 5px 0; }

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease; }
  .header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 77px;
    align-items: center; }

.menu li {
  text-transform: uppercase;
  padding: 10px 25px; }
  .menu li:last-child {
    padding: 10px 0; }

.menu ul {
  display: flex;
  flex-direction: row; }

.menu a {
  color: #ffffff;
  padding: 0 2px 25px;
  font-family: "Gotham";
  font-weight: normal;
  font-size: 14px; }
  .menu a:hover {
    border-bottom: 3px solid #28c8c6; }

.menu .btn-join {
  background-color: #a100ff;
  text-transform: capitalize;
  padding: 10px 55px 10px 30px;
  border: 1px solid #a100ff;
  font-size: 16px;
  opacity: 0.8; }
  .menu .btn-join::after {
    background: url("../img/btn-arrow.svg");
    width: 16px;
    height: 17px;
    top: 10px;
    right: 23px; }
  .menu .btn-join:hover {
    border-bottom: 1px solid #a100ff !important;
    opacity: 1; }

.masthead {
  background: #a100ff url("../img/header--back.png") no-repeat;
  background-size: cover;
  padding-top: 333px;
  position: relative;
  z-index: 9; }
  .masthead .wrapper {
    display: flex;
    flex-direction: column; }
  .masthead .btn-submit {
    background-color: #28c8c6;
    font-size: 0;
    width: 64px;
    height: 59px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px; }
    .masthead .btn-submit::after {
      background: url("../img/btn-arrow.svg");
      top: 21px;
      left: 24px;
      width: 16px;
      height: 17px; }
  .masthead .arrow-bottom {
    position: absolute;
    bottom: -57px;
    right: 50%;
    cursor: pointer;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: url("../img/next.svg"), url("../img/novelity-bg.jpg");
    background-position: center, bottom;
    background-repeat: no-repeat, repeat;
    z-index: 0;
    transform: translateX(50%); }

.head-slogan {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  max-width: 515px;
  color: #fff;
  margin-bottom: 41px; }

.head-description {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  max-width: 512px;
  margin-bottom: 27px; }

.head-form {
  margin-bottom: 262px;
  display: flex; }
  .head-form .head-form--item {
    font-family: "Montserrat";
    font-size: 14px;
    margin-right: 17px;
    padding: 0 10px;
    height: 60px;
    background-image: linear-gradient(to top, #eeeeee 0%, #ffffff 100%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
  .head-form #designStyle {
    width: 282px; }
  .head-form .head-form__email {
    width: 268px;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
    position: relative; }
    .head-form .head-form__email::-webkit-input-placeholder {
      color: #333333;
      opacity: 0.9; }
    .head-form .head-form__email::-moz-placeholder {
      color: #333333;
      opacity: 0.9; }
    .head-form .head-form__email:-moz-placeholder {
      color: #333333;
      opacity: 0.9; }
    .head-form .head-form__email:-ms-input-placeholder {
      color: #333333;
      opacity: 0.9; }
    .head-form .head-form__email::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 15px;
      background: url("../img/arrowform.svg");
      right: 20px; }

.latestDesign {
  position: relative;
  background: rgba(216, 224, 232, 0) url("../img/novelity-bg.jpg");
  background-repeat: repeat;
  text-align: center;
  z-index: 0;
  margin-bottom: 160px; }
  .latestDesign .arrow-bottom {
    position: absolute;
    bottom: -55px;
    right: 50%;
    cursor: pointer;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: url("../img/nextWhite.svg") no-repeat center;
    z-index: 100;
    background-color: #28c8c6;
    transform: translateX(50%); }

.iphoneImg {
  transform: translateY(3px); }

.latestDesign--header {
  padding-top: 118px;
  margin-bottom: 41px;
  color: #333b42;
  text-transform: uppercase; }

.section-description {
  color: #74797e;
  min-width: 661px;
  margin: 0 auto;
  margin-bottom: 73px;
  font-size: 14px; }

.highlights {
  text-align: center;
  position: relative; }
  .highlights .section-description {
    margin-bottom: 61px; }
  .highlights .arrow-bottom {
    position: absolute;
    bottom: -208px;
    right: 50%;
    cursor: pointer;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: url("../img/next.svg") no-repeat center;
    z-index: 5;
    background-color: #fff;
    transform: translateX(50%); }

.section-header {
  color: #333b42;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 31px; }

.highlights--pros {
  display: flex;
  justify-content: space-around;
  margin-bottom: 151px; }
  .highlights--pros h4 {
    font-size: 17px;
    color: #333b42;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 36px; }
  .highlights--pros p {
    color: #74797e;
    font-size: 14px; }

.highlights--pros--item {
  max-width: 277px;
  padding-right: 23px; }
  .highlights--pros--item:last-child {
    padding-right: 0; }

.highlights--pros--item--shape {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  background-color: #8500d2;
  margin: 0 auto;
  position: relative;
  margin-bottom: 39px; }
  .highlights--pros--item--shape img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.features {
  background-color: #f6f9fa;
  padding-top: 136px; }
  .features .wrapper {
    padding-bottom: 98px; }
  .features .section-header {
    margin-bottom: 28px;
    text-align: center; }
  .features .section-description {
    max-width: 901px;
    line-height: 25px;
    margin-bottom: 44px;
    text-align: center; }
  .features .filter {
    max-width: 565px;
    margin: 0 auto;
    margin-bottom: 54px;
    border: 1px solid #28c8c6;
    color: #28c8c6;
    font-size: 0;
    text-transform: uppercase;
    font-family: "Gotham";
    font-weight: bold; }
  .features .filter--item {
    background-color: rgba(40, 200, 198, 0);
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 14px; }
    .features .filter--item:hover {
      background-color: rgba(40, 200, 198, 0.7);
      color: #f6f9fa; }
  .features .filter--item__active {
    background-color: #28c8c6;
    color: #f6f9fa; }
  .features .output--items {
    display: none;
    opacity: 0;
    justify-content: space-around;
    transition: all 0.5s ease; }
  .features .output--items__active {
    display: flex;
    opacity: 1;
    transition: all 0.5s ease; }
  .features .output--item {
    max-width: 382px;
    position: relative;
    background-color: #fff;
    border-radius: 10px; }
    .features .output--item a {
      color: #333b42;
      font-size: 14px; }
    .features .output--item img {
      width: 380px;
      height: 204px; }
    .features .output--item h4 {
      padding: 31px 0 31px 100px; }
      .features .output--item h4::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 14px;
        background: url("../img/arrownext.svg");
        right: 48px; }

#dev {
  padding: 24px 30px; }

#design {
  padding: 24px 42px; }

#business {
  padding: 24px 32px; }

#arts {
  padding: 24px 39px; }

.promo {
  background: url("../img/layer-4.png") no-repeat;
  background-size: contain;
  position: relative;
  padding-bottom: 697px; }
  .promo .wrapper {
    display: flex;
    flex-wrap: wrap; }
  .promo .logo--promo {
    padding-top: 332px; }
  .promo .head-slogan {
    padding: 334px 0 0 41px;
    margin-bottom: 41px; }
  .promo .head-description {
    padding-left: 219px;
    margin-bottom: 322px; }

.promo--notebook {
  position: absolute;
  left: 495px;
  top: 462px; }

.social {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: 51px; }
  .social .social--item {
    width: 95px;
    height: 34px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 33px;
    position: relative;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s ease; }
    .social .social--item button {
      font-family: "Fira Sans";
      padding-left: 41px; }
    .social .social--item:hover {
      opacity: 1; }
  .social .twitter {
    margin-right: 6px;
    background-color: #69b6f2; }
    .social .twitter::after {
      position: absolute;
      content: "";
      background: url("../img/tw.svg");
      left: 17px;
      top: 11px;
      width: 16px;
      height: 13px; }
  .social .fb {
    background-color: #3a579a; }
    .social .fb::after {
      position: absolute;
      content: "";
      background: url("../img/fb.svg");
      left: 15px;
      top: 9px;
      width: 10px;
      height: 16px; }

.footer--wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 12px;
  color: #8297a7; }

.footer--menu {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 35px;
  max-height: 154px;
  min-width: 220px;
  margin-bottom: 45px; }
  .footer--menu a {
    color: #8297a7; }

.copyright {
  max-width: 304px;
  line-height: 35px;
  text-align: right; }

.footer--end {
  flex-basis: 100%;
  margin-bottom: 151px; }

body {
  overflow: hidden; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }
