.footer {
	
}
.social {
	display: flex;
	justify-content: flex-end;
	margin-top: -10px;
	margin-bottom: 51px;
	.social--item {
		width: 95px;
		height: 34px;
		border-radius: 3px;
		font-weight: bold;
		line-height: 33px;
		position: relative;
		cursor: pointer;
		opacity: 0.8;
		button {
			font-family: "Fira Sans";
			padding-left: 41px;
		}
		&:hover {
			opacity: 1;
		}
	}
	.twitter {
		margin-right: 6px;
		background-color: #69b6f2;
		&::after {
			position: absolute;
			content: "";
			background: url("../img/tw.svg");
			left: 17px;
			top: 11px;
			width: 16px;
			height: 13px;
		}
	}
	.fb {
		background-color: #3a579a;
		&::after {
			position: absolute;
			content: "";
			background: url("../img/fb.svg");
			left: 15px;
			top: 9px;
			width: 10px;
			height: 16px;
		}
	}
}
.footer--wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	font-family: "Montserrat";
	font-size: 12px;
	color: #8297a7;
}
.footer--menu {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	line-height: 35px;
	max-height: 154px;
	min-width: 220px;
	margin-bottom: 45px;
	a {
		
		color: #8297a7;
	}
}
.copyright {
	max-width: 304px;
	line-height: 35px;
	text-align: right;
	
}
.footer--end {
	flex-basis: 100%;
}