.scrolled {
	margin-top: -77px;
	background-color: rgba(63,0,100,0.8);
	padding: 5px 0;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	transition: all 0.5s ease;
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 77px;
		align-items: center;
	}	
}
.menu {
	li {
		text-transform: uppercase;
		padding: 10px 25px;
		&:last-child {
			padding: 10px 0;
		}
	}
	ul {
		display: flex;
		flex-direction: row;	
	}
	a {
		color: #ffffff;
		padding: 0 2px 25px;
		font-family: "Gotham";
		font-weight: normal;
		font-size: 14px;
		&:hover {
			border-bottom: 3px solid #28c8c6;
		}
	}
	.btn-join {
		background-color: $pink;
		text-transform: capitalize;
		padding: 10px 55px 10px 30px;
		border: 1px solid $pink;
		font-size: 16px;
		opacity: 0.8;
		&::after {
			background: url('../img/btn-arrow.svg');
			width: 16px;
			height: 17px;
			top: 10px;
			right: 23px;
		}
		&:hover {
			border-bottom: 1px solid $pink!important;
			opacity: 1;
		}
	}
}

