.masthead {
	background: #a100ff url("../img/header--back.png") no-repeat;
	background-size: cover;
	padding-top: 333px;
	position: relative;
	z-index: 0;
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	.btn-submit {
		background-color: $turquoise;
		font-size: 0;
		width: 64px;
		height: 59px;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
		border-radius: 5px;
		&::after {
			background: url('../img/btn-arrow.svg');
			top: 21px;
			left: 24px;
			width: 16px;
			height: 17px;
		}
	}
		
}
.head-slogan {
	font-family: "Montserrat"; 
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
	max-width: 515px;
	color: #fff;
	margin-bottom: 41px;
}
.head-description {
	color: #ffffff;
	
	font-size: 16px;
	line-height: 24px;
	max-width: 512px;
	margin-bottom: 27px;
}
.head-form {
	margin-bottom: 262px;
	display: flex;
	.head-form--item {
		font-family: "Montserrat";
		font-size: 14px;
		margin-right: 17px;
		padding: 0 10px;
		height: 60px;
		background-image: linear-gradient(to top, #eeeeee 0%, #ffffff 100%);
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
	}
	#designStyle {
		width: 302px;
		outline: none;
	}
	.head-form__email {
		width: 268px;
		box-sizing: border-box;
		font-family: "Montserrat";
		font-weight: normal;
		position: relative;
		padding-right: 45px;
		&::-webkit-input-placeholder {
			color:#333333; 
			opacity: 0.9;
		}
		&::-moz-placeholder {
			color:#333333; 
			opacity: 0.9;
		}
		&:-moz-placeholder {
			color:#333333; 
			opacity: 0.9;
		}
		&:-ms-input-placeholder {
			color:#333333; 
			opacity: 0.9;
		}
		
	}
	.head-form--select {
		width: 282px;
		margin-right: 18px;
		overflow: hidden;
		position: relative;
		&::after {
			position: absolute;
			content: "";
			background: url('../img/arrowbottomform.svg');
			right: 22px;
			top: 20px;
			width: 21px;
			height: 21px;
		}
	}
	.head-form--email {
		position: relative;
		&::after {
			position: absolute;
			content: "";
			width: 13px;
			height: 15px;
			background: url("../img/arrowform.svg");
			right: 40px;
			top: 23px;
		}
	}
}
